/* @import "~antd/dist/antd.css"; */


#components-layout-demo-fixed-sider .logo {
  height: 32px;
  margin: 16px;
  background: rgba(255, 255, 255, 0.2);
}

.site-layout .site-layout-background {
  background: #fff;
  color: black;
}

.site-layout-background-main {
  color: black;
}

/* margin left when collapsed */
.adaptive {
  margin-left: 200px;
}

.adaptive-collapsed {
  margin-left: 80px;
}

.cursor-pointer {
  cursor: pointer;
}

.min-h-screen {
  min-height: 50vh;
}

.mini-head {
  color: gray;
  font-size: 0.8rem;
  font-weight: 300;
}
.gray-text {
  color: gray;
}

/* General Styles */

.btn-primary {
  border-radius: 0.5rem;
  padding-top: 0.7rem;
  padding-bottom: 2rem;
}

.card{
    background-color: theme('colors.white');
    border-radius: theme('borderRadius.lg');
    padding: theme('spacing.6');
    box-shadow: theme('boxShadow.md');
}

.row{
  display:flex;
}
.row .box{
 height:30px;
 width:30px;
  border:1px solid black;
  cursor: pointer;
}

.gameboard{
  width:250px;
  margin:auto;
  margin-top:2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.overall{
  position: fixed;
  top:0;
  left:0;
  height: 100vh;
  width:100%;
  background-size: cover;
  background-position: 30% 70%;
  background-repeat: no-repeat;
  background-image: url("./components/images/luca-bravo.jpg");
}

.background{
   width:60%;
   background-color: whitesmoke;
   padding:3rem;
   box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.2);
   border-radius: 5px;
   height:90vh;
   opacity: 0.96;
   
  }



.hoverrable:hover{
  opacity:0.8;
}
.hoverrable:active{
  opacity:0.1
}
.ant-center{
  display:flex;
  align-items: center;
  justify-content: center;
}
.beforeTable{
  background-size: contain;
  background-position: 90% 70%;
  background-repeat: no-repeat;
  background-image: url("./components/images/illus.png")
}