/* @import "~antd/dist/antd.css"; */



/* General Styles */






.overall{
  position: fixed;
  top:0;
  left:0;
  height: 100vh;
  width:100%;
  background-size: cover;
  background-position: 30% 70%;
  background-repeat: no-repeat;
  background-image: url("./components/images/luca-bravo.jpg");
}

.hoverrable:hover{
  opacity:0.8;
}
.hoverrable:active{
  opacity:0.1
}
.ant-center{
  display:flex;
  align-items: center;
  justify-content: center;
}
.beforeTable{
  background-size: contain;
  background-position: 90%;
  background-repeat: no-repeat;
  background-image: url("./components/images/illus.png")
}

@media only screen and (max-width:786px) {
    .beforeTable{
     background-image: none;
    }
}

